<?xml version="1.0" encoding="UTF-8"?>
<!--
    ServerWrecker

    Copyright (C) 2023 ServerWrecker

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public
    License along with this program.  If not, see
    <http://www.gnu.org/licenses/gpl-3.0.html>.
-->
<!-- Disable shutdown hook, because we have our own -->
<Configuration status="warn" shutdownHook="disable">
    <Appenders>
        <TerminalConsole name="TerminalConsole">
            <PatternLayout>
                <LoggerNamePatternSelector
                        defaultPattern="%highlightError{[%d{HH:mm:ss} %level] [%logger]: %minecraftFormatting{%msg}%n%xEx}">
                    <!-- ServerWrecker doesn't need a prefix -->
                    <PatternMatch key="net.pistonmaster.serverwrecker."
                                  pattern="%highlightError{[%d{HH:mm:ss} %level]: %minecraftFormatting{%msg}%n%xEx}"/>
                </LoggerNamePatternSelector>
            </PatternLayout>
        </TerminalConsole>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="TerminalConsole"/>
        </Root>
    </Loggers>
</Configuration>
