name: Build
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  build:
    # Only run on PRs if the source branch is on someone else's repo
    if: "${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}"

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # 5.0.1
      - name: Set up JDK 25
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # 5.2.0
        with:
          java-version: '25'
          distribution: 'zulu'
          check-latest: true
      - name: Execute Gradle Build
        run: ./gradlew build test printSFCLIFlags --stacktrace | grep -q -- "--bot-amount" || exit 1
      - name: Get version
        id: get-version
        run: |
          projectVersion=$(grep '^maven_version=' gradle.properties | cut -d'=' -f2)
          echo "version=$projectVersion" >> $GITHUB_OUTPUT
      - name: Upload Client Build Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # 6.0.0
        with:
          name: SoulFireCLI
          if-no-files-found: error
          path: |
            client-launcher/build/libs/SoulFireCLI-${{ steps.get-version.outputs.version }}.jar
      - name: Upload Dedicated Build Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # 6.0.0
        with:
          name: SoulFireDedicated
          if-no-files-found: error
          path: |
            dedicated-launcher/build/libs/SoulFireDedicated-${{ steps.get-version.outputs.version }}.jar