name: Dependency Submission

on: [ push ]

permissions:
  contents: write

jobs:
  dependency-submission:
    if: github.repository_owner == 'AlexProgrammerDE'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # 5.0.2
      - name: Set up JDK 25
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # 5.2.0
        with:
          java-version: '25'
          distribution: 'temurin'
          check-latest: true
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@0723195856401067f7a2779048b490ace7a47d7c # 5.0.2
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-use"
          build-scan-terms-of-use-agree: "yes"
        env:
          DEPENDENCY_GRAPH_EXCLUDE_PROJECTS: ':(buildSrc|data\-generator)'
