name: Javadoc

on: [ workflow_dispatch, workflow_call ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'zulu'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: ./gradlew javadoc --stacktrace
      - name: Move files
        run: |
          mv ./build/docs/javadoc ./docs
      - name: Create CNAME
        run: |
          echo "jd.soulfiremc.com" > ./docs/CNAME

      - name: 'Push changes'
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'Deploy SoulFire Javadoc'
          branch: 'gh-pages'
          create_branch: true
          push_options: '--force'
