name: Deploy Javadoc

on: [ workflow_dispatch, workflow_call ]

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          ref: ${{ github.ref }}
          persist-credentials: false
      - name: Set up JDK 25
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # 5.1.0
        with:
          java-version: '25'
          distribution: 'zulu'
          check-latest: true
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # 5.0.0
      - name: Build with Gradle
        run: ./gradlew :javadoc:javadoc --stacktrace
      - name: Move files
        run: |
          mv ./javadoc/build/docs/javadoc ./docs
      - name: Create CNAME
        run: |
          echo "jd.soulfiremc.com" > ./docs/CNAME

      - name: 'Push changes'
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # 7.1.0
        with:
          commit_message: 'Deploy SoulFire Javadoc'
          branch: 'gh-pages'
          create_branch: true
          push_options: '--force'
