name: Set Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to set'
        required: true
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  set-version:
    name: Set Version

    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - name: 'Shared: Checkout repository'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          ref: ${{ github.ref }}

      - name: 'Set Version'
        run: |
          sed -i 's/^maven_version=.*/maven_version='"${INPUTS_VERSION}"'/g' gradle.properties
        env:
          INPUTS_VERSION: ${{ inputs.version }}

      - name: 'Commit Version'
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # 7.1.0
        with:
          commit_message: 'chore(release): bump version to ${{ inputs.version }}'
